@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --radius: 0.5rem;

  --primary: hsl(0, 0%, 15%);
  --primary-foreground: hsl(0, 0%, 98%);

  --background: hsl(210, 18%, 96.5%);
  --foreground: hsl(0, 0%, 6%);
  --foreground-muted: hsl(0, 0%, 42%);

  --card: hsl(0, 0%, 98%);
  --input: hsl(240, 5%, 99%);
  --accent: hsla(240, 8%, 89%, 37%);
  --popover: hsl(240, 4%, 99%);

  --brand-400: hsl(165, 51%, 42%);
  --brand-500: hsl(165, 51%, 33%);
  --brand-600: hsl(165, 51%, 27%);

  --brand-foreground: hsl(0, 0%, 100%);
  --brand-text: hsl(165, 51%, 25%);

  --secondary: hsl(0, 0%, 99.3%);
  --secondary-foreground: hsl(0, 0%, 6%);
  --secondary-hover: hsl(240, 4%, 96%);

  --danger-500: hsl(352, 65%, 50%);
  --danger-600: hsl(352, 65%, 42%);
  --danger-foreground: hsl(0, 0%, 100%);
  --danger-text: hsl(352, 85%, 40%);

  --scrollbar: hsl(0, 0%, 75%);
  --ring: hsl(0, 0%, 15%);

  --shadow-card:
    hsla(230, 40%, 40%, 0.2) 0px 4px 7px,
    inset 0px 3px 5px hsla(210, 8%, 100%, 1);

  --shadow-popover:
    hsla(230, 20%, 40%, 0.3) 0px 6px 10px,
    inset 0px 3px 5px hsla(210, 8%, 100%, 1);

  --shadow-input:
    hsla(210, 24%, 2%, 0.15) 0px 1px 2px,
    inset 0px 1px 2px hsla(210, 8%, 100%, 1);

  --shadow-btn-brand:
    hsla(210, 8%, 2%, 0.25) 0px 1px 5px,
    inset 0px 2px 3px hsla(210, 8%, 100%, 0.35);

  --shadow-btn-primary:
    hsla(210, 8%, 2%, 0.25) 0px 1px 5px,
    inset 0px 1px 3px hsla(210, 8%, 90%, 0.35);

  --shadow-btn-secondary:
    hsla(210, 8%, 22%, 0.2) 0px 1px 3px,
    inset 0px 1px 1px hsla(210, 8%, 100%, 1);
}

.dark {
  --primary: hsl(0, 0%, 87%);
  --primary-foreground: hsl(0, 0%, 9%);

  --background: hsl(0, 0%, 9%);
  --foreground: hsl(0, 0%, 100%);
  --foreground-muted: hsl(0, 0%, 65%);

  --card: hsl(240, 1%, 11%);
  --input: hsl(240, 3%, 15%);
  --accent: hsla(240, 4%, 22%, 62%);
  --popover: hsl(240, 2%, 11%);

  --secondary: hsl(240, 4%, 13%);
  --secondary-foreground: hsl(0, 0%, 96%);
  --secondary-hover: hsl(240, 4%, 16%);

  --brand-text: hsl(165, 51%, 75%);
  --danger-text: hsl(352, 85%, 65%);

  --scrollbar: hsl(0, 0%, 25%);
  --ring: hsl(0, 0%, 85%);

  --shadow-card:
    hsla(210, 8%, 2%, 0.3) 0px 5px 8px,
    inset 0px 2px 3px hsla(210, 8%, 30%, 0.2);

  --shadow-popover:
    hsla(210, 8%, 2%, 0.45) 0px 7px 10px,
    inset 0px 2px 3px hsla(210, 8%, 30%, 0.2);

  --shadow-input:
    hsla(210, 8%, 2%, 0.25) 0px 1px 2px,
    inset 0px 1px 2px hsla(210, 8%, 50%, 0.15);

  --shadow-btn-brand:
    hsla(210, 8%, 2%, 0.25) 0px 1px 4px,
    inset 0px 2px 3px hsla(210, 8%, 90%, 0.25);

  --shadow-btn-primary:
    hsla(210, 8%, 0%, 0.7) 0px 2px 4px, inset 0px 2px 4px hsla(210, 0%, 100%, 1);

  --shadow-btn-secondary:
    hsla(210, 8%, 2%, 0.2) 0px 1px 3px,
    inset 0px 1px 1px hsla(210, 8%, 50%, 0.15);
}

@theme inline {
  --color-*: initial;
  --shadow-*: initial;
  --inset-shadow-*: initial;

  --color-black: #000;
  --color-white: #fff;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-foreground: var(--brand-foreground);
  --color-brand-text: var(--brand-text);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-card: var(--card);
  --color-input: var(--input);
  --color-accent: var(--accent);
  --color-popover: var(--popover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-text: var(--danger-text);

  --color-scrollbar: var(--scrollbar);
  --color-ring: var(--ring);

  --shadow-card: var(--shadow-card);
  --shadow-input: var(--shadow-input);
  --shadow-popover: var(--shadow-popover);
  --shadow-btn-brand: var(--shadow-btn-brand);
  --shadow-btn-primary: var(--shadow-btn-primary);
  --shadow-btn-secondary: var(--shadow-btn-secondary);

  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) + 2px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 6px);
}

@layer base {
  * {
    @apply outline-ring/50;
  }

  html {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-scrollbar h-full;
  }

  body {
    @apply bg-background text-foreground h-full overflow-y-scroll;
  }

  a {
    @apply focus-visible:ring-ring focus-visible:ring-offset-background rounded outline-0 focus-visible:ring-2 focus-visible:ring-offset-1;
  }

  hr {
    @apply border-black/5 dark:border-white/5;
  }

  [class*="animate-"] {
    animation-fill-mode: forwards;
  }
}

@layer utilities {
  .container {
    max-inline-size: 1200px;
    margin-inline: auto;
    padding-inline: 0.5rem;
  }

  .rounded {
    border-radius: var(--radius);
  }
}
